@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap');



body {
  background-image:url('img/blue-ocean.jpg');
  /*background-color: #91bed1;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Raleway';
}

.card {
	background: rgba(0, 10, 26, 0.6) !important;
  color: white !important;
  z-index: 1;
}

table {
	background: rgba(0, 10, 26, 0.6) !important;
	color: white !important;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
  table {
    font-size: 12px;
  }
  .card {
    max-width: 70vw;
    font-size: 13px;
    margin: auto;
  }
  .card-title {
    font-size: 16px;
    text-decoration: underline;
  }
  .btn {
    font-size: 13px;
  }
  .card input {
    font-size: 13px;
  }
  .card select {
    font-size: 13px;
  }

}

