.navbar {
	background: rgba(0, 10, 26, 0.3) !important;
	font-family: Roboto;
	text-transform: uppercase;
	z-index: 1;
	color: white !important;
}


#footer-style {
	background: rgba(0, 10, 26, 0.6) !important;
	font-family: Roboto;
}

#about-banner {
	width: 100vw;
	max-height: 100vh;
}

.about-text {
  color: #141414;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);	
  text-align: center;
}

.about-text h3 {
	font-family: 'Seaweed Script';
	font-size: 2.1em;
	text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 600px) {
	.about-text {
		display: block;
		top: 70%;
		left: 50%;
		color: white;
		font-size: 1rem;
	}
	.about-text h3 {
		font-size: 1.4rem;
	}

}

/*background-color: #0b1a2c !important;*/


