#card-login {
	 /*background-image: url('img/reef-bg.jpg');
	 background-position: center;*/
	 background: rgba(0, 10, 26, 0.6) !important;
	 color: white !important;
	 border: 0;
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#card-body-login {
}

#login-freedive {
	float: right;
	width: 50vw;
	height: 100vh;
	padding-left: 0!important;
	margin-left: 0 !important;
}

@media screen and (max-width: 600px) { 
	#login-freedive {
		display: block;
		width: 100%;
		height: 30vh;
	}

	#login-entireform {
		margin-top: -10%;
		padding-top:0;
	}

}

#login-label {
	margin-top: 15vh;
	font-family: Roboto;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#login-button {
	border-radius: 0 !important;
}

#login-input {
	border-radius: 0! important;
	background-color: #f5f5f5;
}



@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}



.x1 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	
	left: -10%;
	top: 5%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x2 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 10%;
	top: 80%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x3 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 23s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 23s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 15%;
	top: 40%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x4 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x5 {
    -webkit-animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	transform: scale(0.25);
}

.x6 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	-moz-animation: animateBubble 16s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.35);
	-moz-transform: scale(0.35);
	transform: scale(0.35);
}

.x7 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x8 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 17s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 24s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x10 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}



.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); 
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); 

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}


@media screen and (max-width: 600px) {
	.bubble {  
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
		transform: scale(0.1);
	}

}