#card-register {
	 background: rgba(0, 10, 26, 0.6) !important;
	 color: white !important;
	 border: 0;
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#register-explore {
	float: right;
	width: 50vw;
	height: 100vh;
	padding-left: 0!important;
	margin-left: 0 !important;
}


@media screen and (max-width: 600px) { 
	#register-explore {
		display: none;
	}

	#register-entireform {
		margin-top: auto;
		padding-top:2px;
	}

}

#register-label {
	margin-top: 15vh;
	font-family: Roboto;
}

.register-input {
	border-radius: 0!important;
	background-color: #f5f5f5;
}

#register-button {
	border-radius: 0!important;
}
